<c8y-title>{{ 'Device info' | translate }}</c8y-title>

<div class="card col-sm-3 p-8" *ngIf="deviceDetails">
    <p class="legend form-block">{{ 'Device details' | translate }}</p>
    <div class="form-group">
        <label for="deviceName">{{ 'Name' | translate }}</label>
        <p class="form-control static">{{ deviceDetails.name }}</p>
    </div>
    <div class="form-group">
        <label for="deviceType">{{ 'Type' | translate}}</label>
        <p class="form-control static">{{ deviceDetails.type }}</p>
    </div>
    <p class="legend form-group">{{ 'Temperature' | translate}}</p>
    <div class="form-group">
        <label for="temperatureMeasurement">{{ 'Temperature'| translate }}</label>
        <p class="form-control-static">
            {{ temperatureMeasurement?.value ?? '-' }} {{ temperatureMeasurement?.unit}}
        </p>
    </div>
</div>